.header-contacts
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)
  border-top: rgba(#fff, .15) 1px solid
  width: 100%
  padding: 12.5px 0
  background-color: rgba(#151515, .15)

  .phone, .address, .clock
    font-size: 16px
    text-align: center
