.header-top-line
  padding: 40px
  position: absolute
  width: 100%
  z-index: 1

  .logo
    margin-left: 5px

  .phone
    position: absolute
    right: 85px
    top: 42px

@media only screen and (max-width : 480px)
  .header-top-line
    .phone
      display: none
