.section-common-headling
  @extend .headling
  font-size: 30px
  font-weight: 800
  color: $accent

  span
    color: #fff

@mixin section-common-padding
  padding: 5% 0

  @media screen and (max-width: 1200px)
    padding: 8% 0
