.section-common-headling
  @extend .headling
  font-size: 30px
  font-weight: 800
  color: $accent

  span
    color: #fff

.section-inverse
  color: white
  background-color: $dark

.section-full-overlay
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.section-half-overlay
  content: ''
  position: absolute
  right: 0
  height: 100%
  width: 50%

@mixin section-common-padding
  padding: 5% 0

  @media screen and (max-width: 1200px)
    padding: 8% 0
